@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

img {
  height: 100px;
}

button {
  height: 100%;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  margin: 0px;
  font-family: inherit;
  color: inherit;
  border: 0px;
}
